main {
  background-color: var(--primary-color);
  color: #ffffff;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.content {
  flex: 1;
  padding: 20px;
}

.content h1 {
  color: var(--secondary-color);
  margin-bottom: 0;
  font-family: "Markazi Text", "Cambria", serif;
  font-size: 2rem;
}

.content h3 {
  margin-top: 0;
  font-family: "Markazi Text", "Cambria", serif;
  font-size: 1.5rem;
}

.text {
  margin-top: 10px;
  line-height: 1.5;
  font-family: Karla, "Segoe UI", serif;
}

.button {
  margin-top: 20px;
  padding: 20px 40px;
  background-color: var(--secondary-color);
  color: #000;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-container img {
  height: auto;
  max-width: 100%;
  position: absolute;
  top: 5%;
  right: 20px;
  cursor: pointer;
}

.btn-cta:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    position: relative;
    background-color: var(--primary-color);
  }

  .container::before {
    content: "";
    opacity: 0.8;
    background: url("../../static/restaurantfood.png") no-repeat;
    background-position: 85% center;
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.3;
  }

  .content {
    isolation: isolate;
    padding: 0;
  }

  .image-container img {
    display: none;
  }
}
