.testimonial-container {
  background: var(--primary-color);
  color: var(--fifth-color);
  font-family: "Markazi Text", Cambria, serif;
  font-size: 48px;
  margin-top: 80px;
  padding-top: 80px;
}

.testimonial-header {
  text-align: center;
  margin-bottom: 80px;
}

.tm-cards {
  margin-left: 20px;
  margin-right: 20px;
}

/* Media Queries */

@media (max-width: 768px) {
  .testimonial-header {
    margin-bottom: 20px;
  }

  .testimonial-container {
    padding-top: 30px;
    margin-top: 20px;
  }

  .tm-cards {
    margin: 0;
  }
}
