@import url("https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Markazi+Text:wght@500&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-color: #495e57;
  --secondary-color: #f4ce14;
  --tertiary-color: #FF5C00;
  --alternate-color: #fbdabb;
  --fifth-color: #edefee;
  --sixth-color: #333333;
}

body {
  margin: 0;
  padding: 0;
}